<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/1234.svg" alt="">
  </div>
  <div class="headings">
    <h2>Ishlar Ro'yxati</h2>
    <h3>Ishbor.uz</h3>
  </div>
</header>
<div class="main-nav">
  <h2>Barcha E'lonlar</h2>

</div>

 <% data.forEach(data=>{ %>
  <div class="main">
      <img class="img-main" src="https://iibb.uz/uploads/news/27c5e39eebc429e5c913be7255bb8c93.jpg">
      <a href="/details/ <%= data._id %>" class="single">
          <h3 class="title"><%= data.name %></h3>
          <p class="">Soha:<b style="text-transform:uppercase;"><%= data.category %></b></p>
          <p class="snippet"><i>Oylik:<%= data.salary %></i></p>    
          <p class="snippet"><i>Kompanya:<%= data.company %></i></p> 
      </a>
  </div>
  <% })%>
}
<%- include('partials/footer'); -%>